*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  margin: auto;
  width: 50%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.user-input {
  width: 75%;
  height: 50px;
  display: block;
  margin: auto;
}

.form-btn {
  width: 75%;
  height: 50px;
}
