.search-title {
  font-size: 100px;
}

.search-wrapper {
  height: 400px;
  width: 80%;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 50px;
  border-color: #5E99BD;
  box-shadow: 0 0 100px #5E99BD;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 10%;
}

.search-btn {
  height: 75px;
  width: 70%;
  background-color: #5E99BD;
  border-radius: 10px;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
}

.search-btn:hover {
  background-color: #5E99BD;
  box-shadow: 0 0 10px #5E99BD;
  color: #FFF;
  cursor: pointer;
  outline: none;
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
