*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('http://images.newschoolers.com/images/17/00/77/39/97/773997_1280w_720h.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
